@use '@styles/mixins';

$blue-scrollbar: #1976d2;
$purple-scrollbar: #673ab7;

.list {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbar {
  &_blue {
    @include mixins.standard-scrollbar($blue-scrollbar);
  }
  &_purple {
    @include mixins.standard-scrollbar($purple-scrollbar);
  }
}

.option {
  &_default {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__wrapper_editing {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
  }

  &__fields_editing {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__buttons_editing {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 6px;
  }

  &__title_editing {
    @include mixins.field-input(17px, 90%);
  }

  &__value_editing {
    @include mixins.field-input(14px, 80%);
  }
}
