@use '@styles/device-sizes';

.button {
  &::after {
    content: 'Вернуться обратно';
    display: inline-block;
  }

  &[data-with-mobile-text='false'] {
    @media screen and (max-width: device-sizes.$tablet) {
      &::after {
        content: '';
      }
    }
  }
}
