@use '@styles/mixins';
@use '@styles/device-sizes';

.all-forms {
  &__list {
    background: #fff;
  }
}

.list {
  &__wrapper {
    padding: 1em 30em;
    min-height: 100vh;
  }

  &__cards {
    @include mixins.cards-container;
  }

  &__panel {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.banner {
  margin-top: 1.5em;
  background: rgb(76, 43, 135);
  color: #fff;
  display: inline-flex;
  border-radius: 6px;

  @media screen and (min-width: device-sizes.$large-screen) {
    max-width: 35vw;
  }

  &__wrapper {
    padding: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8em;

    @media screen and (max-width: device-sizes.$medium-screen) {
      padding: 3em 1em;
      text-align: center;
      & > svg {
        display: none;
      }
    }
  }
}