@use '@styles/inherited.module.scss';
@use '@styles/mixins';
@use '@styles/device-sizes';

.navbar {
  padding: 0.5em 1.8em;

  &__wrapper {
    @extend %navbar-grid;
  }

  &__logo {
    & > svg {
      &:hover,
      &:focus {
        @include mixins.cursor-effect;
      }
    }
  }

  &__avatar {
    display: flex;
    justify-content: flex-end;
  }
}
