@mixin field-input($font-size, $width: 100%) {
  width: $width;
  &:input[type='text'] {
    font-size: $font-size;
  }
}

@mixin cursor-effect($opacity: 0.8, $transition: 0.3s) {
  cursor: pointer;
  transition: $transition;
  opacity: $opacity;
}

@mixin pseudo-elem-line($height: 1px, $color: #4c2b87) {
  height: $height;
  width: 100%;
  background: $color;
}

@mixin standard-scrollbar($thumb-color, $track-color: transparent) {
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $thumb-color;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: $track-color;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
}

@mixin fade-in-left($duration: 3s) {
  animation: fade-animation $duration;
  @keyframes fade-animation {
    0% {
      transform: translateX(-150%);
    }
    25% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
}

@mixin landing-from-above($margin-top: 1em, $duration: 0.1s) {
  animation: landing-from-above $duration forwards;
  @keyframes landing-from-above {
    0%{ 
      margin-top: 0;
    }
    100% {
      margin-top: $margin-top;
    }
  }
}

@mixin move-up() {
  animation: move-up 0.5s forwards;
  @keyframes move-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@mixin move-down() {
  animation: move-down 0.5s forwards;
  @keyframes move-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
