@use '@styles/mixins';

.event-message {
  &__alert {
    @include mixins.fade-in-left;
    cursor: default;

    @media screen and (max-width: 768px) {
      & div:nth-child(2) {
        max-width: 8em;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

.alert {
  &__wrapper {
    display: flex;
    flex-direction: row;
    row-gap: 1em;
  }
}
