@use '@styles/mixins';

$hint-color: #5f6368;

.results {
  display: flex;
  justify-content: center;

  &__wrapper {
    padding: 1em 30em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    min-width: 65vw;
  }

  &__cards {
    @include mixins.cards-container;
  }

  &__top-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;

    & p {
      font-size: 0.9rem;
      opacity: 0.8;
      color: $hint-color;
    }
  }
}
