@use '@styles/mixins';

$email-color: #5f6368;

.user-panel {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
    justify-content: center;
    padding: 1em 2em;
  }

  &__avatar {
    display: flex;
    justify-content: center;
  }

  &__buttons {
    &_unauthorized {
      display: flex;
      flex-direction: column;
      row-gap: 0.6em;
      & button {
        color: #fff;
        background: #4c2b87;
        &:hover,
        &:focus,
        &:active {
          background-color: #4c2b87;
          @include mixins.cursor-effect;
        }
      }
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    text-align: center;

    & p {
      &:first-child {
        font-weight: 600;
      }
      &:last-child {
        font-size: 0.9rem;
        opacity: 0.8;
        font-weight: 400;
        color: $email-color;
      }
    }
  }
}
