@use '@styles/inherited.module.scss';
@use '@styles/mixins';
@use '@styles/device-sizes';

$headings-color: #4c2b87;

.navbar {
  padding: 0 1.8em;

  &__wrapper {
    @extend %navbar-grid;
  }

  &__actions {
    display: flex;
    justify-content: center;

    @media screen and (max-width: device-sizes.$tablet) {
      padding-bottom: 0.5em;
    }
  }

  &__icon {
    &_bars {
      &:hover,
      &:focus {
        @include mixins.cursor-effect(0.6);
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 0.4em;
    & h1 {
      color: $headings-color;
      cursor: default;
    }
  }

  &__buttons {
    justify-content: flex-end;
    display: flex;
    column-gap: 0.8em;
    position: relative;

    @media screen and (max-width: device-sizes.$tablet) {
      display: flex;
      row-gap: 0.5em;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.drawer {
  &__wrapper {
    padding: 0.5em 1em;
    width: 45vw;
  }
}
