%box {
  display: inline-flex;
  background: white;
  flex-direction: column;
  padding: 14px;
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  width: 80%;
}

.box_standard {
  @extend %box;
}

.box_bordered {
  @extend %box;
  border-top: 8px rgb(103, 58, 183) solid;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%) 0 1px 1px 0 rgb(0 0 0 / 14%) 0 1px
    3px 0 rgb(0 0 0 / 12%);
}
