.page {
  display: flex;
  justify-content: center;

  &__fields {
    display: inline-flex;
    flex-direction: column;
    row-gap: 12px;
    margin-right: 12px;
  }

  &__wrapper {
    margin-top: 12px;
    position: relative;
    display: flex;
    flex-direction: row;
  }
}
