$abbreviation-color: #fff;
$primary-color: #4c2b87;

.avatar {
  display: inline-flex;
  padding: 0.7em 0.8em;
  border-radius: 50%;
  background: $primary-color;

  &:focus,
  &:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: -5px 3px 33px -10px $primary-color;
  }

  & h3 {
    font-size: 1rem;
    color: $abbreviation-color;
  }
}